html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url(../img/cursor.cur), auto;
}

header {
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);

}

h1 {
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

a:hover {
    cursor: url(../img/button.cur), auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav li {
    display: inline-block;
}

.burgger {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    /*background-image: url("../img/menu.png");*/
    background-size: cover;
}

.burgger::before,
.burgger::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    right: 1px;
    top: 6px;
    transform: rotate(0deg);
    background-color: #1f1f56;
    transition: all 0.5s ease;
}

.burgger::after {
    top: 11px;
}

.burgger_cross::before {
    transform: rotate(45deg);
    top: 9px;
}

.burgger_cross::after{
    transform: rotate(-45deg);
    top: 10px;    
}

.burgger_cross {
    /*background-image: url("../img/close.png");*/
}

hr {
    border: none;
    border-top: 1rem solid #e4e4ec;
}

sup {
    font-size: 0.6em;
}

.wrapper {
    margin: 0 auto;
    max-width: 960rem;
}

.top-menu {
    padding: 16rem 0;
    background-color: #1f1f56;
}

.main_buttons {
    text-align: center;
    display: none;
}

.main_buttons li {
    margin-right: 30rem;
    font-size: 14rem;
}

.main_buttons a {
    color: #b1b1d2;
    text-decoration: none;
}

.main_buttons a:hover {
    color: #fd8300;
}

.menu_open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
}

.menu_open a {
    display: block;
    padding: 20px;
    background-color: #1f1f56;
    z-index: 3;
}

.social_buttons a {
    display: block;
    background: url(../img/sprayt.png) no-repeat;
}

.social_buttons li {
    margin-left: 30rem;
}

a.fb {
    background-position: 0 0;
    width: 10rem;
    height: 19rem;
}

a.fb:hover {
    background-position: 0 -22rem;
}

a.tw:hover {
    background-position: -12rem -22rem;
}

a.in:hover {
    background-position: -32rem -22rem;
}

a.tw {
    background-position: -12rem 0;
    width: 18rem;
    height: 15rem;
}

a.in {
    background-position: -32rem 0;
    width: 19rem;
    height: 19rem;
}

header a {
    position: relative;
}

.skype,
.konwertik {
    font-size: 16rem;
}

a.telefon:before,
a.konwertik:before,
a.skype:before {
    content: "";
    background: url(../img/sprayt.png);
    position: absolute;
    left: -28rem;
}

a.telefon:before {
    width: 16rem;
    height: 17rem;
    background-position: 0 -43rem;
}

a.konwertik:before {
    width: 17rem;
    height: 13rem;
    background-position: -19rem -45rem;
}


a.skype:before {
    width: 18rem;
    height: 19rem;
    background-position: -39rem -44rem;
}

.ctrelka {
    position: relative;
    border-top: 1rem solid #cdcddd;
}

.ctrelka:before {
    content: "";
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 5rem;
    height: 5rem;
    border-right: 2rem solid #666;
    border-bottom: 2rem solid #666;
    transform: rotate(-45deg);
    top: 20rem;
    right: 14rem;
    transition: all 20 ease;
}

.ctrelka:hover:before {
    transform: rotate(45deg);
    border-color: #fff;
    top: 20rem;
    right: 12rem;
}

.hunter {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 28rem 0;
    align-items: center;
    flex-direction: column;
}


.logo img {
    display: inline-block;
    padding-right: 30rem;
}

.coln {
    display: inline-block;
    width: 219rem;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 14rem;
}

.figcoln {
    display: inline-block;
    width: 219rem;
    box-sizing: border-box;
    margin: 0;
}

.nomer,
.email {
    margin: 0;
}

.nomer li,
.email li {
    padding: 6rem 0;
}

.nomer a {
    color: #25252c;
    text-decoration: none;
    font-weight: bold;
    font-size: 18rem;
}

.email a {
    color: #25252c;
    text-decoration: none;
}

.email a:hover {
    text-decoration: underline;
}

.stick {
    position: relative;
}

.stick::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 51rem;
    background-color: #e4e4ec;
    left: -10rem;
}

.call {
    text-align: right;
}


.order-a-call {
    border: 2rem solid #fd8300;
    border-radius: 25rem;
    color: #25252c;
    font: bold 14rem "Arial";
    padding: 16rem 30rem;
    text-decoration: none;
    display: inline-block;
}

.order-a-call:hover {
    background-color: #fd8300;
    color: #fff;
}


.offer-of-the-month {
    padding: 60rem 0 40rem;
    background-image: url(../img/offer-of-the-month.png);
    background-size: cover;
    margin-bottom: 42rem;
}


.offer-of-the-month p {
    text-align: center;
}


.the-main-thing {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30rem;
    font-family: "Roboto Slab";
    letter-spacing: 2rem;
    font-weight: 700;
    margin: 0;
}

.secondary {
    font-size: 14rem;
    color: #fff;
    font-family: "Arial";
    text-align: center;
}

.prices span {
    font-size: 40rem;
}

.prices {
    font-size: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    margin: 0;
}

.super-men {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-in-main {
    max-width: 713rem;
}

.text {
    padding: 30rem;
    padding-bottom: 33rem;
    font-size: 14rem;
}

.text a {
    color: #fd8300;
}

.text p {
    color: #666666;
    line-height: 1.7em;
}

.text a:hover {
    text-decoration: none;
}

.projects {
    padding: 30rem;
    margin: 33rem 0 35rem 0;
}

.projects h2 {
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.projects h3:hover {
    text-decoration: underline;
}

.projects h3 {
    color: #1f1f56;
    margin: 10rem 0;
    font-size: 14rem;
}

.projects p {
    line-height: 18rem;
    text-decoration: none;
    color: #b4b4be;
    margin: 0;
    font-size: 13rem;
}

.houses {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.realy-aside a {
    background-color: #e4e4ec;
    text-decoration: none;
    padding: 15rem;
    display: block;
    font-size: 14rem;
}

.realy-aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sides-menu {
    position: sticky;
    top: 20rem;
}

.sides-menu p {
    background-color: #1f1f56;
    border-radius: 3rem 3rem 0 0;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    font-size: 16rem;
    margin: 0;
    padding: 17rem 16rem 13rem;
}




.menu>li:hover>a {
    background-color: #fd8300;
    color: #ffffff;
}

.menu>li:hover .menu-in-menu {
    display: block;
}

.menu>li>a {
    color: #25252c;
}

.menu>li:last-child>a {
    border-radius: 0 0 3rem 3rem;
}

.menu-in-menu {
    display: none;
}

.menu-in-menu>li>a {
    color: #828286;
    padding-left: 30rem;
}


.menu-in-menu>li>a:hover {
    background-color: #cecedd;
}



.bottom-footer {
    background-color: #ededf5;
    margin: 46rem 0 0;
    padding: 42rem 78rem 55rem 77rem;
}

.bottom-footer a {
    position: relative;
}

.bottom-footer ul {
    margin: 0;
}


.wrapper ul {
    list-style: none;
}

.more {
    padding: 0;
}

.more a {
    color: #707070;
    text-decoration: none;
    line-height: 26rem;
}

.more a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.copyright {
    background-color: #dcdce6;
    padding: 18rem 0;
}

.copyright p {
    margin: 0;
    color: #a2a2af;
    text-align: center;
    font-size: 14rem;
}

.uls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.uls h2 {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.uls p {
    margin: 14rem 0;
    font-size: 14rem;
    color: #666;
}

.p-mail {
    text-decoration: underline;
}

.bold a {
    font-weight: bold;
    font-size: 18rem;
    text-decoration: none;
    color: #25252c;
}

.consylt {
    padding-right: 5%;
}

.recvisites {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
    padding-right: 5%;
}

.recv {
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
}

.recvisites p {}

.forma {
    font-family: "Roboto Slab";
}

.ahka {
    font-size: 14rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.infprice {
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.infop {
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
}

.thb {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3rem;
    overflow: hidden;
    font-size: 14rem;
}

.thb thead>tr {
    background-color: #1f1f56;
}

.thb th {
    padding: 13rem 20rem;
    color: #fff;
    font-family: "Roboto Slab";
    text-align: left;
}

.thb tbody {
    background-color: #e4e4ec;
}

.thb td {
    padding: 13rem 20rem;
    text-align: left;
    color: #666;
    white-space: nowrap;
    border-top: 1rem solid #cdcddd;
}


.thb tbody tr:hover td {
    background-color: #fd8300;
    color: #fff;
}

.table-scrol {
    overflow-x: scroll;
}

.map {
    overflow: hidden;
    height: 300px;
    /*width: 300px;*/
    margin-top: 35px;
}

.map iframe {
    margin-top: -60px;
    border: none;
}

.father {
    display: flex;
    column-gap: 27rem;
    flex-direction: column;
}

form {
    /*padding: 5px;*/
    box-sizing: border-box;
}

.input {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input h2 {
    font-size: 14rem;
}

.two,
.one,
textarea {
    font-style: italic;
    margin-bottom: 10rem;
    padding: 10rem;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1rem solid #c5c5d4;
}

.input2 {
    display: flex;
    justify-content: space-between;
    column-gap: 10rem;
    flex-direction: column;
}

.two {
    justify-content: space-around;
}

.one {
    width: 100%;
}

.submit {
    display: flex;
    justify-content: space-around;
    font-size: 13rem;
}

.send {
    border: 2rem solid #fd8300;
    border-radius: 25rem;
    background-color: #fd8300;
    font-size: 13rem;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 13rem 30rem 10rem;
    box-sizing: border-box;
}

.send:hover {
    color: #1f1f56;
    background-color: #fff;
}

@media screen and (min-width:540px) {
    .hunter {
        justify-content: center;
        flex-direction: row;
    }

    .super-men {
        flex-direction: row;
    }

    .houses {
        flex-direction: row;
    }
}

@media screen and (min-width:670px) {
    .main_buttons {
        display: block;
        position: static;
    }

    .menu_open {
        width: max-content;
    }

    .menu_open a {
        display: inline;
        padding: 0;
    }
    
    .burgger {
        display: none;
    }

    .uls {
        flex-direction: row;
    }

    .father {
        flex-direction: row;
    }

    textarea {
        width: 413rem;
        height: 106rem;
    }
}

@media screen and (min-width:990px) {
    .hunter {
        justify-content: space-between;
    }
    .main_buttons {
        text-align: left;
    }
    .text {
        padding: 0;
        padding-bottom: 33px;
    }

    .projects {
        padding: 0;
    }
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }
}